body
	margin 0
	font-family "Segoe UI", sans-serif
	background #182026
svg
	display block
	user-select none
.links line
	stroke #293742cc
	stroke-width 1
.nodes circle
	stroke #18202688
	stroke-width 1
	cursor grab
.texts text
	text-anchor start
	alignment-baseline middle
	fill #fff
	stroke none
	font-size 9px
	text-shadow -1px 0 #182026,1px 0 #182026,0 -1px #182026,0 1px #182026
	cursor grab
.grabbing *
	cursor grabbing !important
